.app-header {
  box-sizing: border-box;
  justify-self: center;
  width: 100%;
  max-width: 80rem;
  padding: 0 2rem;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.error {
  background-color: #f7f8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.error img {
  max-height: 65%;
  height: auto;
}

@media only screen and (max-width: 540px) {
  .app-header {
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .error {
    width: 100%;
    flex-direction: column;
  }

  .error img {
    width: 80%;
  }
}

@media only screen and (min-width: 1320px) {
  .app-header {
    padding: 0;
  }
}